# ------ general ------
.DS_Store
.vscode/
.vscode/*

# ------ LaTeX ------
LaTeX/notes/*
LaTeX/technical_writeup/*
LaTeX/talk/
LaTeX/talk/*
# allow tex, pdf, and images from notes
!LaTeX/notes/main.tex
!LaTeX/notes/main.pdf
!LaTeX/notes/images/
!LaTeX/notes/images/**
!LaTeX/technical_writeup/main.tex
!LaTeX/technical_writeup/main.pdf
!LaTeX/technical_writeup/images/
!LaTeX/technical_writeup/images/**


# ------ PDFs ------
Papers/
Papers/**
Textbooks/
Textbooks/**